# Ignorar arquivos de log
*.log

# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de configuração local
.env

# Ignorar configurações do editor
.vscode/

# Arquivos específicos do sistema
.DS_Store